.menu {
  height: 0;
  opacity: 0;
  overflow-y: hidden;
  transition: height .1s;
  text-align: center;
  position: relative;

  &.active {
    height: 380px;
    opacity: 1;
    background: $white-color;
    box-shadow: 0 3px 3px 0 rgba(#eee,.7);
  }

  li {
    display: block;
    padding-top: 26px;

    &:last-child {
      padding-bottom: 26px;
    }

    a {
      font-size: 22px;
      color: $black-color;
      display: block;
      width: 100%;
      transition: color .3s;
    }

    a:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  @include bp(tablet) {
    &.active {
      height: 86px;
      top: -1px;
    }

    li {
      padding: 26px 0;
    }
  }
}