.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(0);
  transition: transform .3s;

  &.hidden {
    transform: translateY(-100%);
  }

  &.fixed {
    background: $white-color;
    box-shadow: 0 3px 3px 0 rgba(#eee,.7);
  }
}

.header .header__top {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;

  .menu-opened & {
    background: $white-color;
    box-shadow: 0 3px 3px 0 rgba(#eee,.7);
  }

  .container {
    display: flex;
  }

  @include bp(tablet) {    
    .menu-opened & {
      box-shadow: none;
    }
  }
}

.header__logo {
  color: $white-color;
  font-size: 22px;
  font-weight: 600;
  display: flex;

  .menu-opened &,
  .header.fixed & {
    color: $primary-color;
  }
}

.header .header__btn {
  display: flex;
  border: none;
  margin-top: 0;
  background: transparent;

  &:focus {
    box-shadow: none;
  }
}

.header__lines {
  background-color: $white-color;
  @include size(40px, 4px);
  display: block;
  border-radius: 2px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    @include size(40px, 4px);
    border-radius: 2px;
    background-color: $white-color;
  }

  &:before {
    top: -6px;
  }

  &:after {
    top: 6px;
  }

  .menu-opened &,
  .menu-opened &:before,
  .menu-opened &:after,
  .header.fixed &,
  .header.fixed &:before,
  .header.fixed &:after {
    background-color: $primary-color;
  }
}